@use 'variaveis';

.container {
    padding-top: 16px;
} 

.about {
    display: flex;
    margin-top: 160px;
    margin-bottom: 160px;
    background-image: linear-gradient(variaveis.$corDegradeLaranja, variaveis.$corDegradeAmarelo);
    border-radius: 0px 20px 20px 0px;

    @media (max-width: 1024px) {
        display: block;
        border-radius: 20px;
    }

    @media (max-width: 767px) {
        display: block;
        border-radius: 20px;
    }

    

    &__img{
        img {
            max-width: 460px;

            @media (max-width: 1024px) {
                max-width: 100%;
                border-radius: 20px 20px 0px 0px;
            }
            
            @media (max-width: 767px) {
                max-width: 100%;
                border-radius: 20px 20px 0px 0px;
            }

            
        }
    }

    &__info {
        text-align: center;
        padding: 6px 16px;

        &__title {
            font-size: 44px;
            padding-top: 24px;
            font-weight: bold;
            letter-spacing: 2px;
            font-family: summer-love;
            color: variaveis.$corTexto;

            @media (max-width: 1024px) {
                font-size: 32px;
                margin-bottom: 32px;
            }

            @media (max-width: 767px) {
                font-size: 20px;
                margin-bottom: 32px;
            }

            
        }

        &__text {
            margin: 50px 16px 0px;

            @media (max-width: 1024px) {
                margin: 0 auto;
                font-size: 18px;
                text-align: center;
            }

            @media (max-width: 767px) {
                margin: 0 auto;
                font-size: 14px;
                text-align: center;
            }

            
        }

        &__list {
            display: flex;
            justify-content: center;
            padding-left: 0;
            gap: 8%;
            margin-top: 80px;

            @media (max-width: 767px) {
                display: block;
                text-align: center;
            }

            &__item {

                @media (max-width: 767px) {
                    padding: 8px 0;
                }

                &__link {
                    color: variaveis.$corTexto;
                    text-decoration: none;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 20px;
                    transition: .2s ease;

                    @media (max-width: 767px) {
                        font-size: 18px;
                    }

                    &:hover {
                        color: variaveis.$corHover;
                    }
                }
            }
        }

        &__adress {
            margin: 0;
            margin-top: 80px;    
            
            @media (max-width: 1024px) {
                padding-bottom: 24px;
                margin-top: 40px;
            }
            
            @media (max-width: 767px) {
                padding-bottom: 24px;
                margin-top: 30px;
            }

            

            &__link {
                color: variaveis.$corTexto;
                font-style: italic;
                text-decoration: none;
                transition: .3s;
                letter-spacing: 4px;
                font-size: 20px;
                transition: .4s ease;

                @media (max-width: 1024px) {
                    letter-spacing: 0;
                    font-weight: bold;
                }

                @media (max-width: 767px) {
                    font-size: 13px;
                    letter-spacing: 0;
                    font-weight: bold;
                }

                

                &:hover {
                    letter-spacing: 4.5px;

                    @media (max-width: 1024px) {
                        letter-spacing: 0;
                    }

                    @media (max-width: 767px) {
                        letter-spacing: 0px;
                    }

                    
                }

                i {
                    color: variaveis.$corDegradeLaranja;
                }
            }
        }
    }
}