.sequencia-imagem {
    img {
        width: 100%;
        max-height: 800px;

        @media (max-width: 1024px) {
            max-width: 100%;
            max-height: 400px;
        }

        @media (max-width: 767px) {
            max-width: 100%;
            max-height: 200px;
        }

        
    }
}