@use 'variaveis';

.feedback {
    padding: 120px 0px;
    margin: 0 auto;
    margin-bottom: 160px;
    padding-left: 0;
    background-color: variaveis.$corLaranjaClaro;

    @media (max-width: 767px) {
        padding-top: 80px;
        padding-bottom: 120px;
    }

    .container {
    display: block;
    }

    &__rating {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
        font-family: summer-love;
        color: variaveis.$corTexto;
        font-size: 36px;
        margin-bottom: 48px;

        @media (max-width: 1024px) {
            font-size: 24px;
        }

        @media (max-width: 767px) {
            font-size: 18px;
        }

        

        }

        &__list {
            text-align: center;
            margin: 0 auto;
            width: 60%;
            padding: 24px;
            border-radius: 30px;
            border: 2px solid variaveis.$corAzulPousada;
            background-color: variaveis.$corBrancoClaro;

            @media (max-width: 767px) {
                width: 80%;
                padding: 16px;
            }

            &__item {
                margin: 0 auto;

                @media (max-width: 767px) {
                    text-align: center;
                }

                &__photo-profile {
                    width: 80px;
                    border-radius: 50%;
                    margin-bottom: 16px;

                    @media (max-width: 767px) {
                        width: 60px;
                    }
                }

                &__name {
                    font-weight: bold;
                    font-size: 24px;
                    margin-bottom: 16px;

                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }

                &__text {
                    font-size: 16px;
                    font-style: italic;
                    max-width: 800px;
                    width: 100%;
                    margin: 0 auto;
                    font-weight: bold;

                    @media (max-width: 767px) {
                        font-size: 12px;
                    }
                }

                &__photo-star {
                    width: 200px;
                    margin: 24px 0;

                    @media (max-width: 767px) {
                        width: 100px;
                        margin: 24px auto;
                    }
                }
            }
        }

        &__button {
                text-decoration: none;
                position: relative;
                text-decoration: none;
                margin-top: 48px;
                color: variaveis.$corTexto;
                font-weight: bold;
                font-size: 24px;
                letter-spacing: 0.5px;

                @media (max-width: 767px) {
                    font-size: 16px;
                }

                &:after {
                    content: "";
                    position: absolute;
                    background-color: variaveis.$corAzulPousada;
                    height: 2px;
                    width: 0;
                    left: 0;
                    bottom: -5px;
                    transition: .8s ease;
                }

                &:hover {
                    color: variaveis.$corHover;
                    transition: .2s ease;
                }

                &:hover:after {
                    width: 100%;
                }
        }
    }

    &__image {

        &__img {
            width: 500px;
        }
    }
}

.carousel-item,
.active,
.carousel,
.slide,
.carousel-inner {
    width: 100%;

    @media (max-width: 767px) {
        padding: 0px;
    }
}