@use 'variaveis';

.header {
    background-image: linear-gradient(variaveis.$corDegradeLaranja, variaveis.$corDegradeAmarelo);

    &__title {
        text-align: center;

        &__img {
            max-width: 300px;
            margin: 16px auto;

            @media (max-width: 767px) {
                max-width: 150px;
            }
        }
    }
}