@use 'variaveis';

.services {
    margin-top: 160px;
    margin-bottom: 160px;
    padding-left: 0;

    @media (max-width: 1024px) {
        padding: 0;
    }

    @media (max-width: 767px) {
        padding: 0;
    }

    

    &__title {
        display: block;
        margin: 0 auto;
        margin-bottom: 24px;
        text-align: center;
        font-family: summer-love;
        color: variaveis.$corTexto;
        font-size: 44px;
        padding: 24px 0;
        width: 100%;
        border-radius: 80px 80px 10px 10px;
        background-image: linear-gradient(to left,variaveis.$corDegradeLaranja, variaveis.$corDegradeAmarelo);

        @media (max-width: 1024px) {
            font-size: 24px;
        }

        @media (max-width: 767px) {
            font-size: 18px;
            padding: 18px 0;
        }

        
    }

    &__geral {
        display: flex;
        width: 100%;
        gap: 5%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 24px;
        padding: 24px 0;
        border-radius: 10px 10px 80px 80px;
        background-image: linear-gradient(to right,variaveis.$corDegradeLaranja, variaveis.$corDegradeAmarelo);

        &__icons {
            font-size: 36px;
            padding: 6px;
            transition: ease .1s;

            @media (max-width: 767px) {
                font-size: 24px;
                padding: 3px;
            }
            
            abbr {
                cursor: pointer;
                
            }

            &:hover {
                font-size: 38px;
                color: variaveis.$corHover;

                @media (max-width: 1024px) {
                    font-size: 36px;
                }

                @media (max-width: 767px) {
                    font-size: 24px;
                }

                
            }
        }
    }

    &__list {
        padding: 0;

        &__item {
            display: flex;
            justify-content: space-around;
            align-items: start;
            background-image: linear-gradient(to right,variaveis.$corDegradeLaranja, variaveis.$corDegradeAmarelo);
            margin: 36px 0;
            border-radius: 20px;

            @media (max-width: 767px) {
                display: block;
                text-align: center;
                background-image: linear-gradient(to bottom,variaveis.$corDegradeLaranja, variaveis.$corDegradeAmarelo);
                border-radius: 10px;
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &__left {
                background-image: linear-gradient(to left,variaveis.$corDegradeLaranja, variaveis.$corDegradeAmarelo);

                @media (max-width: 767px) {
                    background-image: linear-gradient(to top,variaveis.$corDegradeLaranja, variaveis.$corDegradeAmarelo)
                }
            }

            &__info {
                padding: 24px;
                
                &__title {
                    text-align: start;
                    margin-bottom: 16px;
                    font-size: 32px;
                    padding: 0 16px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    color: darken(variaveis.$corAzulPousada, 20%);
                    text-shadow: 1px 0px 1px #000000d8;

                    @media (max-width: 1024px) {
                        font-size: 24px;
                    }

                    @media (max-width: 767px) {
                        text-align: center;
                        font-size: 24px;
                        padding: 0;
                    }

                    

                    &__right {
                        text-align: end;

                        @media (max-width: 767px) {
                            text-align: center;
                            font-size: 24px;
                            padding: 0;
                        }
                    }
                }

                &__text {
                    text-align: justify;
                    font-size: 20px;

                    @media (max-width: 1024px) {
                        font-size: 16px;
                    }

                    @media (max-width: 767px) {
                        font-size: 14px;
                        text-align: center;
                    }

                    
                }
            }

            &__img {
                width: 260px;
                border-radius: 0px 10px 10px 0px;

                @media (max-width: 767px) {
                    width: 100%;
                    max-height: 200px;

                    border-radius: 0px 0px 10px 10px;
                }

                &__right {
                    border-radius: 10px 0px 0px 10px;

                    @media (max-width: 767px) {
                        border-radius: 10px 10px 0px 0px;
                    }
                }
            }
        }
    }
}