//CORES DOS TEXTOS
$corHover: #fff;
$corTexto: #000;

//CORES DO DEGRADÊ
$corDegradeLaranja: #FE5C37;
$corDegradeAmarelo: #FFCD01;

//CORES ADICIONAIS
$corAzulPousada: #32a0ee;
$corNav: #ffcc01;
$corNavClaro: #ffcc0198;
$corLaranjaClaro: #f78324d8;
$corBrancoClaro: #ffffffab;
$corButtonReserve: #07c007; 
$corFooter: #042238;
$corHoverFooter: #dfdedeb2;