@use 'header';
@use 'nav';
@use 'carousel';
@use 'about';
@use 'gallery';
@use 'video';
@use 'services';
@use 'feedback';
@use 'reserve';
@use 'footer';

@font-face {
    font-family: summer-love;
    src: url(../../assets/fonts/Summer\ Love.ttf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: roboto, sans-serif;
}


body {
    background-image: url(../../dist/images/background-borrado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    min-height: 100vh;
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;

    @media (max-width: 1024px) {
        max-width: 90%;
    }

    @media (max-width: 767px) {
        max-width: 80%;
        width: 100%;
        margin: 0 auto;
    }
}

